# See https://git-scm.com/docs/git-config

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cm = commit --allow-empty
	cd = !git commit -m "$(date -u '+%Y-%m-%dT%T')"
  acd = !git add . && git commit -m "$(date -u '+%Y-%m-%dT%T')"
[init]
	defaultBranch = main
[pull]
	rebase = true 		
[push]
	autoSetupRemote = true
[diff]
	algorithm = histogram    
	colorMoved = plain       
	mnemonicPrefix = true    
[commit]
	verbose = true          
[column]
	ui = auto 			     
[branch]
	sort = -committerdate    
[tag]
	sort = -version:refname  
[rerere]
	enabled = true           
	autoupdate = true        
[user]
	name = Abel de la Fuente
	email = {{ .email }}
[delta]
	navigate = true
	dark = false
	side-by-side = false
	hunk-header-style = omit
	syntax-theme = Visual Studio Dark+
	line-numbers = true
