return {
	text = "SF Pro",
	numbers = "SF Pro",
	icons = "{{ .font }}",
	style_map = {
		["Regular"] = "Regular",
		["Semibold"] = "Semibold",
		["Bold"] = "Bold",
		["Heavy"] = "Heavy",
		["Black"] = "Black",
	},
}
